.card {
  height: 10rem;
  width: 7rem;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.disabled {
  border: 1px solid red;
}
